@charset "utf-8";

@font-face {
	font-family: "AlphabetForNageia";
	src: url("fonts/alphabet/AlphabetForNageia.woff") format("woff");
	font-style: normal;
}

@font-face {
	font-family: "AlphabetForNageia";
	src: url("fonts/alphabet/ItalicAlphabetForNageia.woff") format("woff");
	font-style: italic;
}

@font-face {
	font-family: "JapaneseForNageia";
	src: url("fonts/japanese/JapaneseForNageia.woff") format("woff");
	font-weight: 300;
	font-style: light;
}

@font-face {
	font-family: "JapaneseForNageia";
	src: url("fonts/japanese/JapaneseForNageiaBold.woff") format("woff");
	font-weight: 700;
	font-style: bold;
}

:root {
	--tfc: #555;
	--tbc: #fff;
	--tac: #1340f2;
	--tlc: #0024b3;
	--tdc: #c0c0c0;
	--apw: calc(0px + 30 * (100vw - 0px) / 680);
}

@media (prefers-color-scheme: dark){
	:root {
		--tfc: #fff;
		--tbc: #222;
		--tdc: #555;
		--tlc: #59baff;
	}
}


html {
	height: 100%;
	box-sizing: border-box;
}

body {
	display: flex;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
	min-height: 100%;
	margin: 0;
	font-family: "AlphabetForNageia", "JapaneseForNageia", "Corbel", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
	font-weight: 300;
	color: var(--tfc);
	background-color: var(--tbc); 
}

a, a:visited{
	text-decoration: none;
	color: var(--tlc);
}

header {
	min-height: 100vh;
	padding: 0;
	border-right: solid 2px var(--tac);
	word-break: keep-all;
	white-space: nowrap;
}

nav {
	position: sticky;
}

h1 {
	display: inline-block;
	margin: 0;
	padding: 30px 35px 20px 35px;
	font-weight: normal;
	font-size: 2.5em;
	color: var(--tfc);
}

h1 div {
	display: inline-block;
	margin: 0 0 0 .2em;
	vertical-align: top;
	font-weight: normal;
	font-size: .5em;
	color: var(--tfc);
}

.menu {
	position: relative;
	margin: 0;
	padding: 0 0 30px;
	width: 100%;
	list-style: none;
	line-height: 2.5em;
}

.menu li {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 1.1em;
	text-indent: 1ex;
	word-break: keep-all;
}

.menu a {
	display: block;
	position: relative;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 35px 0 35px;
	color: var(--tfc);
}

.menu a:hover{
	background: #fc006b;
	color: #fff;
}

.here a, .here a:hover {
	background: var(--tac);
	color: #fff
}

.top {
	display: block;
	max-width: max-content;
}

.top:hover {
	background: #fc006b;
}

.top:hover h1, .top:hover h1 div {
	color: #fff;
}

footer {
	position: fixed;
	bottom: 0;
	margin: 0 0 30px 35px;
	color: #c0c0c0;
}

article {
	box-sizing: border-box;
	width: 100%;
	min-width: 0;
	padding: 30px 50px 30px 50px;
}

h3 {
	display: block;
	margin: 0;
	font-size: 2em;
	font-weight: bold;
}

section {
	padding: 30px 0 30px 0;
	overflow: hidden;
}

h4 {
	margin: 0 0 15px 0;
	font-size: 1.6em;
	font-weight: bold;
}

input#menu {
	display: none;
}

label {
	display: block;
	position: relative;
	width: 0;
	height: 0;
	margin: 0;
	overflow: hidden;
}

label i {
	transform: scale(0);
}

@media (max-width: 960px){
	header {
		white-space: normal;
	}
}

@media (max-width: 680px){
	body {
		display: block;
	}

	header {
		position: sticky;
		top: 0;
		height: 15px;
		min-height: auto;
		padding: 15px var(--apw) 30px var(--apw);
		border-right: none;
		border-bottom: solid 2px var(--tac);
		background: var(--tbc);
		z-index: 1;
		overflow: hidden;
	}

	.top {
		float: right;
	}

	h1 {
		display: inline-block;
		margin-bottom: 0;
		padding: 0;
		font-weight: normal;
		font-size: 1.5em;
	}

	h1 div {
		display: none;
	}

	nav {
		position: relative;
		top: auto;
	}

	.menu {
		display: none;
		text-align: left;
		margin-top: 20px;
		padding: 0;
		clear: both;
	}

	.menu a {
		padding: 0;
	}

	label {
		display: inline-block;
		position: relative;
		z-index: 2;
		width: 30px;
		height: 30px;
		margin: 0;
		font-size: 20px;
		color: var(--tac);
		text-align: left;
		cursor: pointer;
	}

	label i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: scale(1) translate(-50%, -50%);
	}

	label .i-times {
		transform: scale(0);
	}

	input#menu:checked ~ header {
		height: 260px;
	}

	input#menu:checked ~ header .menu {
		display: block;
	}

	input#menu:checked ~ header label .i-bars {
		transform: scale(0);
	}

	input#menu:checked ~ header label .i-times {
		transform: scale(1) translate(-50%, -50%);
	}

	article {
		padding: 30px var(--apw) 30px var(--apw);
	}

	footer {
		position: absolute;
		margin: 0 0 30px 25px;
	}
}

body, header, h1, h1 div, .top, a,label, label i, label .i-times, label .i-bars, article {
	transition-property: top, left, width, height, transform, background, color;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

/*social links*/

.social {
	position: relative;
	padding: 0;
}

.social li {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: auto;
	height: 36px;
	overflow: hidden;
	border: solid 1px var(--tdc);
	border-radius: 36px;
	background: var(--tbc);
	font-size: 18px;
}

.social li a {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--tfc);
}

.social span {
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 12px;
	line-height: 1;
}

.social li {
	transition: color .2s, background .2s;
}

.social li:hover {
	border: solid 1px var(--tac);
}

.social li a:hover {
	color: #fff;
	background: var(--tac);
}