@charset "utf-8";

html {
	height: 100%;
	overflow-y: scroll !important;
}

body {
	position: relative;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: "Corbel", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
	font-weight: 300;
}

a, a:visited{
	text-decoration: none;
}

.logo-warpper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
}

.logo-square {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 33vw;
	height: 33vw;
	max-width: 50%;
	max-height: 50%;
	background: #1034f2;
	overflow: hidden;
}

.logo-slash1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 2.4%;
	height: 1000%;
	background: #1034f2;
}

.logo-slash2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 4.2%;
	height: 150%;
	background: #fff;
}

nav {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30vw;
	height: 150px;
}

li a {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.left {
	position: absolute;
	right: 100%;
	width: 100%;
	height: 100%;
}

ul.social , ul.menu {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social li {
	display: inline-block;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	border: solid 1px #aaa;
	font-size: 18px;
	color: #aaa;
	background: #fff;
}

.social a, .social a:visited{
	color: #c0c0c0;
}

.social i, .menu i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.right {
	position: absolute;
	left: 100%;
	width: 100%;
	height: 100%;
}

.menu li {
	display: inline-block;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 5%;
	font-size: 50px;
}

.menu a span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: transparent;
}

.about a, .about a:visited {
	color: #f06;
}

.news a, .news a:visited {
	color: #f90;
}

.discography a, .discography a:visited {
	color: #0c0;
}

.links a, .links a:visited {
	color: #3cf;
}

.contact a, .contact a:visited {
	color: #609;
}

/*hover*/

.social li {
	transition: color .2s, background .2s;
}

.social li:before {
	transition:  opacity .2s;
}

.social li:hover {
	border: none;
}

.social li a:hover {
	color: #fff;
}

.twitter:hover {
	background: #55acee;
}

.instagram:before {
	position: absolute;
	display: block;
	width: 38px;
	height: 38px;
	content: "";
	border-radius: 50%;
	background: #d93177;
	background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
	opacity: 0;
}

.instagram:hover:before {
	width: 40px;
	height: 40px;
	opacity: 1;
}

.facebook:hover {
	background: #3b5998;
}

.tumblr:hover {
	background: #2c4762;
}

.weibo:hover {
	background: #df2029;
}

.plurk:hover {
	background: #ff574d;
}

.mastodon:hover {
	background: #3a89d5;
}

.youtube:hover {
	background: #cd201f;
}

.niconico:hover {
	background: #000;
}

.bilibili:hover {
	background: #00a5db;
}

.vimeo:hover {
	background: #1ab7ea;
}

.pixiv:hover {
	background: #0096fa;
}

.booth:hover {
	background: #e1292e;
}

.bandcamp:hover {
	background: #1da0c3;
}

.soundcloud:before {
	position: absolute;
	display: block;
	width: 38px;
	height: 38px;
	content: "";
	border-radius: 50%;
	background: #f80;
	background: linear-gradient(to bottom, #f80, #f30);
	opacity: 0;
}

.soundcloud:hover:before {
	width: 40px;
	height: 40px;
	opacity: 1;
}

.piapro:hover {
	background: #e5007c;
}

.menu li {
	transition: background .2s;
}

.menu li a {
	transition: color .2s;
}

.about:hover {
	background: #f06;
}

.news:hover {
	background: #f90;
}

.discography:hover {
	background: #0c0;
}

.links:hover {
	background: #3cf;
}

.contact:hover {
	background: #609;
}

.menu a:hover {
	color: transparent;
}

.menu a:hover span {
	color: #fff;
}

/*animation*/

.logo-square {
	animation: logo1 2s 1 cubic-bezier(0,1,0,1);
	transform-origin: 0 0;
}

.logo-slash1 {
	animation: logo2 2s 1 cubic-bezier(0,1,0,1);
}

.menu a {
	animation: menu 2s 1;
}

.social li {
	animation: social 1s 1 cubic-bezier(0,1,0,1);
}

@keyframes logo1 {
	0% {
		transform: scale(0) translate(-50%, -50%);
	}
	100% {
		transform: scale(1) translate(-50%, -50%);
	}
}

@keyframes logo2 {
	0% {
		width: 0;
	}
	100% {
		width: 2.4%;
	}
}

@keyframes menu {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes social {
	0% {
		width: 0;
		height: 0;
		border-width: 20px;
	}
	100% {
		width: 40px;
		height: 40px;
		border-width: 1px;
	}
}