@charset "utf-8";

:root {
	--atr: calc(1.25em - 2px);
}

html {
	overflow: hidden !important;
}

body {
	padding: 0 35px 30px 0;
	overflow: hidden;
}

nav {
	position: relative;
	top: 0;
}

.menu {
	padding: 0;
}

.menu li {
	overflow: visible;
}

.menu a::after {
	content: "";
	display: block;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border-top: solid var(--atr) transparent;
	border-right: solid var(--atr) transparent;
	border-bottom: solid var(--atr) transparent;
	border-left: solid var(--atr) transparent;
}

.menu a:hover::after {
	border-top: solid var(--atr) #fc006b;
	border-left: solid var(--atr) #fc006b;
}

.menu a::after, .menu a:hover::after {
	transition-property: border-top, border-right, border-bottom, border-left;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

footer {
	position: absolute;
	bottom: 0;
	margin: 0 0 30px 35px;
	color: #c0c0c0;
}

.wrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 60%;
	min-width: 30em;
}

.wrap:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.bg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) skewX(-45deg);
	width: 3px;
	height: 300%;
	background: var(--tac);
}

.social {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 35px 30px 0;
	padding: 0;
	max-width: 70%;
	text-align: right;
}

@media (max-width: 960px){
	header {
		white-space: nowrap;
	}

	.menu {
		max-width: 181px;
	}
}

@media (max-width: 680px){
	body {
		padding: 0 25px 30px 0;
	}

	header {
		min-height: 100vh;
		padding: 30px 35px 30px 35px;
		border-right: solid 2px var(--tac);
		word-break: keep-all;
		white-space: nowrap;
	}

	nav {
		position: relative;
		top: 0;
		text-align: left;
	}

	h1 {
		display: inline-block;
		margin: 0;
		padding: 30px 25px 20px 25px;
		font-weight: normal;
		font-size: 2.5em;
		vertical-align: baseline;
	}

	h1 div {
		display: inline-block;
		vertical-align: 1em;
		font-weight: normal;
		font-size: .5em;
	}

	.menu {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 180px;
		list-style: none;
		line-height: 2.5em;
	}

	.menu li {
		position: relative;
		box-sizing: border-box;
		overflow: visible;
		font-size: 1.1em;
	}

	.menu a {
		padding: 0 25px 0 25px;
	}

	.menu a::after {
		content: "";
		display: block;
		position: absolute;
		box-sizing: border-box;
		top: 0;
		left: 100%;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		border-top: solid var(--atr) transparent;
		border-right: solid var(--atr) transparent;
		border-bottom: solid var(--atr) transparent;
		border-left: solid var(--atr) transparent;
	}

	.menu a:hover::after {
		border-top: solid var(--atr) #fc006b;
		border-left: solid var(--atr) #fc006b;
	}

	footer {
		margin: 0 0 30px 25px;
	}

	.social {
		max-width: 50%;
	}
}