@charset "utf-8";

table {
	border-collapse: separate;
	border-spacing: 5px 2px;
}

td {
	vertical-align: baseline;
}

.social {
	display: inline-block;
	margin: 0;
	padding: 1ex 0 0 0;
	vertical-align: middle; 
}

@media (max-width: 960px){
	.social {
		display: block;
	}

	table {
		border-spacing: 5px 1em;
	}
}