---
import Layout from "@layouts/Layout.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer.astro";

const pageTitle = "contact";
---

<Layout title = {pageTitle + " - "}>
	<Header location={pageTitle}></Header>
	<article>
		<h3>{pageTitle}</h3>
		<section>
			<ul class="links">
				<li><a href="https://twitter.com/nagiept"><span>Twitter DM</span></a><div>TwitterのDMで連絡を取れます。</div></li>
				<li><div><span>nagiept<i class="at">[at]</i>gmail.com</span></div><div>コピーする場合、[at]を@に変えてください。</div></li>
			</ul>
		<section>
			<h4>作品利用ガイドライン</h4>
			<p>
				Иagi以外の人がИagiとИagiの別名義の作品を利用する時のガイドラインです。内容は予告なく変更される場合があります。
			</p>
			<h5>対象作品について</h5>
			<p>
				次の作品が当ガイドラインの適用対象です。
			</p>
			<ul>
				<li>
					Иagiが別名義(✨🌟🌙🌟✨、7^7、冖園)を含めて、ニコニコ、YouTubeで公開した動画・楽曲。
				</li>
				<li>
					Иagiが別名義(✨🌟🌙🌟✨、7^7、冖園)を含めて、BOOTH、Bandcampで配布した楽曲・データ。
				</li>
				<li>
					ИagiとИagiの別名義(✨🌟🌙🌟✨、7^7、冖園)を含めた、楽曲・アルバムのセルフライナーノーツ・解説。
				</li>
				<li>
					その他、Иagiが公開した楽曲のステム・パラデータ、オフボーカル音源。
				</li>
			</ul>
			<p>次の作品はガイドラインの適用対象<strong>外</strong>です。</p>
			<ul>
				<li>
					Иagiが別名義(✨🌟🌙🌟✨、7^7、冖園)を含めて公開した作品のうち、原曲がИagiのオリジナル曲でないRemix作品。
				</li>
				<li>
					Иagiが別名義(✨🌟🌙🌟✨、7^7、冖園)を含めて公開した作品のうち、ИagiとИagiの別名義以外の人物がクレジットされている作品。
				</li>
				<li>
					その他個別に対象外として指定されている作品。（2024年12月7日現在、該当なし）
				</li>
			</ul>
			<h5>改変について</h5>
			<p>
				次の条件を全て満たす場合、Иagiへの連絡せずにИagiの作品を改変し、改変したものを公開することができます。
			</p>
			<ul>
				<li>
					ИagiやИagiの作品について誤解を生ませる内容でない。
				</li>
				<li>
					宣伝目的でない。
				</li>
				<li>
					商用目的でない。
				</li>
				<li>
					Иagiの公式作品ではないことが明確にわかる。
				</li>
				<li>
					認識可能なクレジット(作詞作曲者等)を表記している。
				</li>
			</ul>
			<h5>再配布について</h5>
			<p>
				次の条件を全て満たす場合、Иagiへの連絡せずにИagiの作品を再配布することができます。<br>
				作品以外に、<a href="https://github.com/nagiept/nagiept.github.io">当ウェブサイト</a>も再配布できます。<br>
				なお、このサイトで使用しているWebフォントは<a href="http://scripts.sil.org/OFL">SIL Open Font License, Version 1.1</a>のライセンスが適用されます。
			</p>
			<ul>
				<li>
					ニコニコ、YouTube、Bandcamp、BOOTH等からИagiの作品が消失し、ウェブ上で公式に公開されている作品の視聴が一切できなくなった時。
				</li>
				<li>
					Иagiが作品の消失に対処せず、1ヶ月以上、視聴が一切できない状態が持続している時。
				</li>
				<li>
					ウェブサイトへのアップロードや記録媒体への保存時などでのエンコード・ファイル形式の変更を除き、作品内容を改変していない。
				</li>
				<li>
					ライセンスを変更していない。
				</li>
				<li>
					再配布であり、公式によるアップロードではないことを明記している。
				</li>
				<li>
					認識可能なクレジット(作詞作曲者等)を表記している。
				</li>
				<li>
					ИagiやИagiの作品について誤解を生ませる状態でない。
				</li>
				<li>
					宣伝目的でない。
				</li>
				<li>
					商用目的でない。
				</li>
			</ul>
			<p>
				1ヶ月以上、視聴が一切できない状態が持続した後、Иagiが対処を行った場合、再配布の停止をお願いする場合があります。その場合は、その指示に従ってください。
			</p>
		<section>
	</article>
	<Footer></Footer>
</Layout>

<style>
	@charset "utf-8";

	h4 {
		margin: 0 0 15px 0;
		font-size: 1.6em;
		font-weight: bold;
	}

	h5 {
		margin: 10px 0 0 0;
		font-size: 1.2em;
		font-weight: bold;
	}

	.links {
		position: relative;
		padding: 0;
	}

	.links li {
		display: block;
		position: relative;
		margin: 0 0 1em 0;
	}

	.links li > * {
		display: inline-block;
	}

	.links li > *:last-child {
		padding-left: 1em;
		vertical-align: 25%;
	}

	.links li > *:first-child {
		position: relative;
		box-sizing: border-box;
		top: 0;
		left: 0;
		width: auto;
		height: 36px;
		margin: 0 0 0.5em 0;
		overflow: hidden;
		border: solid 1px var(--tdc);
		border-radius: 36px;
		background: var(--tbc);
		font-size: 18px;
		color: var(--tfc);
		vertical-align: middle;
	}

	.links span {
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 12px;
		line-height: 1;
	}

	.links li > *:first-child {
		transition: color .2s, background .2s;
	}

	.links li > *:first-child:hover {
		color: #fff;
		border: solid 1px var(--tac);
		background: var(--tac);
	}

	.at {
		font-family: "Raleway", "Noto Sans JP", "Corbel", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif !important;
		font-style: normal !important;
		font-weight: 300 !important;
		font-size: 0;
	}

	.at:after {
		content: "@";
		font-family: "Raleway", "Noto Sans JP", "Corbel", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif !important;
		font-style: normal !important;
		font-weight: 300 !important;
		font-size: 18px;
	}

	@media (max-width: 680px){
		.links li {
			display: block;
			position: relative;
			margin: 0 0 2em 0;
		}

		.links li > * {
			display: block;
		}

		.links li > *:first-child {
			width: max-content;
		}
	}
</style>