@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u4mzph');
  src:  url('fonts/icomoon.eot?u4mzph#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u4mzph') format('truetype'),
    url('fonts/icomoon.woff?u4mzph') format('woff'),
    url('fonts/icomoon.svg?u4mzph#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-bandcamp:before {
  content: "\e909";
}
.i-instagram:before {
  content: "\e90c";
}
.i-mastodon:before {
  content: "\e900";
}
.i-peertube:before {
  content: "\e904";
}
.i-plurk:before {
  content: "\e90a";
}
.i-weibo:before {
  content: "\e90f";
}
.i-tiktok:before {
  content: "\e905";
}
.i-tumblr:before {
  content: "\e90d";
}
.i-twitter:before {
  content: "\e910";
}
.i-vimeo:before {
  content: "\e907";
}
.i-youtube:before {
  content: "\e908";
}
.i-note:before {
  content: "\e911";
}
.i-fanbox:before {
  content: "\e912";
}
.i-piapro:before {
  content: "\e902";
}
.i-booth:before {
  content: "\e903";
}
.i-pixiv:before {
  content: "\e906";
}
.i-niconico:before {
  content: "\e90b";
}
.i-bilibili:before {
  content: "\e90e";
}
.i-times:before {
  content: "\f00d";
}
.i-external-link:before {
  content: "\f08e";
}
.i-bars:before {
  content: "\f0c9";
}
.i-soundcloud:before {
  content: "\f1be";
}
