---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Иagiのオフィシャルサイト"><meta name="keywords" content="Иagi">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/public/icomoon/style.css">
		<link rel="icon" href="img/favicon.ico">
		<link rel="apple-touch-icon" type="image/png" href="img/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="img/icon.png">
		<title>{title + "Иagi official site"}</title>
	</head>
	<body>
		<slot>
	</body>
</html>

<style is:global>
	@charset "utf-8";

	@font-face {
		font-family: "AlphabetForNageia";
		src: url("../../public/fonts/alphabet/AlphabetForNageia.woff") format("woff");
		font-style: normal;
	}

	@font-face {
		font-family: "AlphabetForNageia";
		src: url("../../public/fonts/alphabet/ItalicAlphabetForNageia.woff") format("woff");
		font-style: italic;
	}

	@font-face {
		font-family: "JapaneseForNageia";
		src: url("../../public/fonts/japanese/JapaneseForNageia.woff") format("woff");
		font-weight: 300;
		font-style: light;
	}

	@font-face {
		font-family: "JapaneseForNageia";
		src: url("../../public/fonts/japanese/JapaneseForNageiaBold.woff") format("woff");
		font-weight: 700;
		font-style: bold;
	}

	:root {
		--tfc: #555;
		--tbc: #fff;
		--tac: #1340f2;
		--tlc: #0024b3;
		--tdc: #c0c0c0;
		--apw: calc(0px + 30 * (100vw - 0px) / 680);
	}

	/*@media (prefers-color-scheme: dark){
		:root {
			--tfc: #fff;
			--tbc: #222;
			--tdc: #555;
			--tlc: #59baff;
		}
	}*/


	html {
		height: 100%;
		box-sizing: border-box;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 0;
		box-sizing: border-box;
		min-height: 100%;
		margin: 0 5vw 0;
		font-family: "AlphabetForNageia", "JapaneseForNageia", "Corbel", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
		font-weight: 500;
		color: var(--tfc);
		background-color: var(--tbc); 
	}

	a, a:visited{
		text-decoration: none;
		color: var(--tac);
	}

	article {
		box-sizing: border-box;
		width: 100%;
		min-width: 0;
		padding: 30px 50px 30px 50px;
	}

	h3 {
		display: block;
		margin: 0;
		font-size: 2em;
		font-weight: bold;
	}

	section {
		padding: 30px 0 30px 0;
		overflow: hidden;
	}

	h4 {
		margin: 0 0 15px 0;
		font-size: 1.6em;
		font-weight: bold;
	}

	@media (max-width: 680px){
		article {
			padding: 30px var(--apw) 30px var(--apw);
		}

		footer {
			position: absolute;
			margin: 0 0 30px 25px;
		}
	}

	body, header, h1, h1 div, .top, a,label, label i, label .i-times, label .i-bars, article {
		transition-property: top, left, width, height, transform, background, color;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(0, 1, 0, 1);
	}
</style>
