@charset "utf-8";

img {
	display: block;
	box-sizing: border-box;
	margin: 0 0 16px 16px;
	width: 50%;
	height: auto;
	float: right;
	border: solid 1px #c0c0c0;
}

h4 {
	margin:.2em 0;
	font-size: 40px;
	font-weight: bold;
}

h5 {
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

div {
	font-size: 16px;
	font-weight: 200;
}

ol.discs {
	width: 50%;
	padding: 0;
	float: left;
	list-style: none;
}

ol.tracks {
	box-sizing: border-box;
	padding: 0;
	float: left;
	width: calc(50% - 16px);
	list-style-position: inside;
}

ol.discs ol.tracks {
	float: none;
	width: auto;
}

.bonus:after {
	content: " (Bonus Track)";
	font-size: .8em;
}

/*responsive*/

@media (max-width: 770px) {
	img {
		position: relative;
		margin: 0 0 30px 0;
		width: 100%;
		float: none;
	}

	ol.discs, ol.tracks {
		width: auto;
		padding: 0;
		float: none;
	}
}

/*social links*/

.social {
	position: relative;
	padding: 0;
}

.social li {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;
	font-size: 18px;
}