@charset "utf-8";

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	display: flex;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
	min-height: 100%;
	margin: 0;
	font-family: "Corbel", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
	font-weight: 500;
	color: #555;
}

a, a:visited{
	text-decoration: none;
	color: #555;
}

header {
	min-height: 100vh;
	padding: 30px 35px 30px 35px;
	border-right: solid 2px #1340f2;
	word-break: keep-all;
	white-space: nowrap;
}

nav {
	position: sticky;
	top: 30px;
}

.top {
	display: block;
	max-width: max-content;
}

.top:hover {
	background: #1340f2;
	color: #fff;
}

h1 {
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 2.5em;
}

h2 {
	display: inline-block;
	margin: 0;
	vertical-align: 1em;
	font-weight: normal;
	font-size: 1em;
}

.menu {
	position: relative;
	margin: 0;
	padding: 0 0 30px ;
	width: 100%;
	max-width: 12em;
	list-style: none;
	line-height: 2.5em;
}

.menu li {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	font-size: 1.1em;
}

.menu a:before {
	content: "[ ";
	color: transparent;
}

.menu a:after {
	content: " ]";
	color: transparent;
}

.menu a:hover:before {
	content: "[ ";
	color: #555;
}

.menu a:hover:after {
	content: " ]";
	color: #555;
}

.here a:before, .here a:after, .here a:hover:before, .here a:hover:after {
	color: #fc006b;
}

footer {
	position: fixed;
	bottom: 0;
	margin: 0 0 30px 35px;
	color: #c0c0c0;
}

article {
	box-sizing: border-box;
	width: 100%;
	min-width: 0;
	padding: 30px 35px 30px 70px;
}

h3 {
	display: block;
	margin: 0;
	font-size: 2em;
	font-weight: bold;
}

section {
	padding: 30px 0 30px 0;
	overflow: hidden;
}

h4 {
	margin: 0 0 15px 0;
	font-size: 1.6em;
	font-weight: bold;
}

input#menu {
	display: none;
}

label {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	margin: 0;
	overflow: hidden;
}

label i {
	transform: scale(0);
}

.albams {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	letter-spacing: -.4em;
}

.albams li {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	margin: 6px;
	width: calc(100%/3 - 18px);
	height: auto;
	letter-spacing: normal;
	overflow: hidden;
}

.albams li:before {
	display: block;
	padding-top: 100%;
	content: "";
}

.albams li a {
	display: block;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: solid 1px #c0c0c0;
}

.join li {
	border: dashed 1px #1340f2;
}

.join li a {
	padding: 2%;
}

.albams div {
	font-size: 1.5vw;
	color: #1340f2;
	text-align: left;
}

.albams div.title {
	max-width: 100%;
	font-size: 3vw;
	word-break: break-word;
}

.albams div.date {
	position: absolute;
	max-width: 50%;
	bottom: calc(0px + 2%);
	right: calc(0px + 2%);
}

.albams li:empty:nth-child(2n+1) {
	display: none;
}

.albams li:last-child {
	border: none;
}

/*responsive*/

@media (max-width: 960px) {
	header {
		white-space: normal;
	}
}

@media (max-width: 770px) {
	.albams {
		text-align: center;
	}

	.albams li {
		width: calc(100%/2 - 12px);
	}

	.albams div {
		font-size: 2vw;
	}

	.albams div.title {
		font-size: 4vw;
	}
}

@media (max-width: 680px) {
	body {
		display: block;
	}

	header {
		position: sticky;
		top: 0;
		height: 30px;
		min-height: auto;
		border-right: none;
		border-bottom: solid 2px #1340f2;
		background: #fff;
		z-index: 1;
		overflow: hidden;
	}

	.top {
		display: inline-block;
	}

	h1 {
		font-size: 1.8em;
		vertical-align: top;
		margin: 0;
	}

	nav {
		position: relative;
		top: auto;
		text-align: right;
	}

	.menu {
		text-align: left;
		margin-top: 30px;
		padding: 0;
	}

	label {
		top: 30px;
		left: 35px;
		width: 30px;
		height: 30px;
		background: #1340f2;
		color: #fff;
		text-align: left;
		z-index: 2;
	}

	label i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: scale(1) translate(-50%, -50%);
	}

	label .fa-times {
		transform: scale(0);
	}

	input#menu:checked ~ header {
		height: 300px;
	}

	input#menu:checked ~ label .fa-bars {
		transform: scale(0) translate(-50%, -50%);
	}

	input#menu:checked ~ label .fa-times {
		transform: scale(1) translate(-50%, -50%);
	}

	article {
		padding: 30px 35px 30px 35px;
	}

	footer {
		position: absolute;
	}

	.albams div {
		font-size: 3vw;
	}

	.albams div.title {
		font-size: 6vw;
	}
}

@media (max-width: 400px) {
	.albams li {
		width: calc(100% - 6px);
	}

	.albams div {
		font-size: 5vw;
	}

	.albams div.title {
		font-size: 10vw;
	}
}

header, .top, .menu a:before, .menu a:before, label, label i, label .fa-times, label .fa-bars, article {
	transition-property: top, left, width, height, transform, background, color;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}